{% extends 'base.html' %}
{% load static %}
{% load home_photos %}

    {% block style %}
      <style>
        .nav-link-red {
          color: red;
          margin-top: 8px;
        }
        .nav-link-green {
          color: green;
          margin-top: 8px;
        }
      </style>
    {% endblock style %}
    
    {% block title %}pragmax BLOG
    {% endblock title %}
  
    
      
      {% block carousel %}
      {% endblock carousel %}
    
      {% block landing %}
      {% endblock landing %}
  



      {% block content %}
        <div class="container card-container">
          <div class="row">
            <div class="col-md-8">
            {% for post in posts_by_category %}
              <div class="card mb-4 text-white bg-dark">
                <img class="card-img-top" src="{{ post.photo.url }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <p class="card-text">{{ post.content|truncatewords_html:10|safe }}</p>
                  <p><i class="fas fa-eye"></i> {{ post.views }}</p>
                  <a href="{{ post.get_absolute_url }}" class="btn btn-outline-light btn-sm btn-hvr-grow">Read...</a>
                </div>
              </div> 
              {% endfor %}
            </div>
              <div class="col-md-4">
                <ul class="list-group sidebar">
                  {% for category in categories %}
                  <li class="list-group-item hvr-grow"><a href="{{ category.get_absolute_url }}">{{category}}</a></li>
                  {% endfor %}
                </ul>
              </div>
        
                          
          </div>
        </div>
      {% endblock content %}
      

      <!-- Footer -->
      
