{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/style.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Lobster&family=Overpass:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Recursive:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'blog/img/blog.svg' %}">
    {% block style %}
    {% endblock style %}
    <title>{{ title }}</title>
</head>
<body>
    {% block navbar %}
        {% include 'inc/_navbar.html' %}
    {% endblock navbar %}
    
    {% block carousel %}
    {% endblock carousel %}

    {% block landing %}
        {% include 'inc/_landing.html' %}
    {% endblock landing %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
        {% include 'inc/_footer.html' %}
    {% endblock footer %}
</body>
</html>